*{
    margin: 0px;
    padding: 0px;
}
html{
    height: 100%;
    width: 100%;
}

body{
    cursor: url('../images/arrow.png'), auto;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                               supported by Chrome and Opera */
    background-image: url(../images/BattelReplay/bbgg.jpg);
    background-repeat: repeat-x;
    background-size: auto 100%;
    height: 100%

}

.TroopsOverNum{

    color: white;
    text-shadow:
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;

}

#PlayControlBoard{
    width: 100%; 
    height: 150px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 1000;
    display: none;
    flex-flow: row
}
#PlayControlBoard .bordContainer{
    background-image: url(../images/BattelReplay/BattalControl/bottom.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 80%;
    display: flex;
    flex-flow: row
}



#PlayControlBoard .bordContainer .HeroImage{
    height: 100%;
    width: 18%;
}

#PlayControlBoard .bordContainer .HeroImage .image{
    width: 100%;
    height: 60%;
}

#PlayControlBoard .bordContainer .HeroImage .image .lable{
    width: 150px;
    height: 100%;
    background-image: url(../images/BattelReplay/BattelReport/faceA1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60px auto;
    margin: auto;
}

#PlayControlBoard .bordContainer .HeroImage .name{
    text-align: center;
    margin-top: -15px;
    font-family: sans-serif
}

#PlayControlBoard .bordContainer .BattelDesc{
    width: 100%;
    height: 100%;

}



#PlayControlBoard .SideContainer{
    width: 10%;
    height: 100%;
    background-image: url(../images/ui/background_bottomPlayerLogoBG.png);
    background-size: auto 100%;
    background-position: center;background-repeat: no-repeat;
}

#PlayControlBoard .PlayerImage{
    width: 100%;
    height: 100%;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-size: 65% auto;
}





.AttackEffect{
    text-shadow:
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}



#BloodBar{
    position: fixed;
    top: 5px;
    display: none;
}

#BloodBar .bar{
    width: 100%;
    height: 50px;
    background-image: url(../images/BattelReplay/BattalControl/top.png);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position-x: center;
}